<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services List</title>
</head>
<body>
    <h1>Services List</h1>
    <a href="/services/new">Add New Service</a>
    <ul>
        <% services.forEach(service => { %>
            <li>
                <%= service.name %> - <%= service.description %> - $<%= service.price %>
                <a href="/services/<%= service.id %>/edit">Edit</a>
                <form action="/services/<%= service.id %>/delete" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
